ENV=local

# -------- Traefik ----------
# true = dashboard accessible sans mot de passe (local uniquement !)
TRAEFIK_DASHBOARD_INSECURE=false
# Let's Encrypt email (prod/staging)
LETSENCRYPT_EMAIL=you@example.com
# Entry point : web (80) ou websecure (443)
TRAEFIK_ENTRYPOINT=websecure

# -------- MySQL ----------
MYSQL_ROOT_PASSWORD=changeme

# -------- Domains ----------
# Utiliser localhost ou un domaine en local
PMA_DOMAIN=phpmyadmin.docker.localhost
MAILHOG_DOMAIN=mailer.docker.localhost