.idea/

/datas/*
!/datas/.gitkeep

/configuration/traefik2/certs/*
!/configuration/traefik2/certs/.gitkeep
/configuration/traefik2/logs/*
!/configuration/traefik2/logs/.gitkeep

/letsencrypt/*
!/letsencrypt/.gitkeep

.env